body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.chat-room {
    padding: 16px;
    
}